body {
    font-family: Arial;
    margin: 0;
    background: #f7f7f7;
}

header {
    text-align: center;
    padding: 20px;
    background: #4a148c;
    color: white;
}

nav {
    background: #6a1b9a;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    color: yellow;
}

.hero img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

table, th, td {
    border: 1px solid black;
    padding: 12px;
}

form {
    width: 40%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background: purple;
    color: white;
    border: none;
    width: 100%;
    cursor: pointer;
}
