body {
    font-family: Arial;
    margin: 0;
    background: #f7f7f7;
}

header {
    text-align: center;
    padding: 20px;
    background: #4a148c;
    color: white;
}

nav {
    background: #6a1b9a;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    color: yellow;
}

.hero img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

table, th, td {
    border: 1px solid black;
    padding: 12px;
}

form {
    width: 40%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background: purple;
    color: white;
    border: none;
    width: 100%;
    cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}
.fade-in-element {
  
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards; 
}

.fade-in-element {
    padding: 30px;
    border: 1px solid #e19292;
    max-width: 600px;
    margin: 50px auto;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-name: fadeInUp;

  animation-fill-mode: forwards;
  opacity: 0; 
}
.fade-in-up {
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
}


.simple-button {
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  background-color:purple; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease; 
}

.simple-button:hover {
  background-color: rgb(8, 22, 84); 
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.simple-button:active {
  transform: translateY(0); 
  box-shadow: none; 
  background-color: #004494;
}
